/* line 5, /Users/Ros/Projects/project3/secondloop/app/assets/stylesheets/videos.css.scss */
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
}

/* line 10, /Users/Ros/Projects/project3/secondloop/app/assets/stylesheets/videos.css.scss */
button {
  font-family: inherit;
  font-weight: 100;
  padding: 10px;
  background-color: #3C5394;
  border: none;
  border-bottom: 4px solid #12182B;
  color: #FFF;
}

/* line 20, /Users/Ros/Projects/project3/secondloop/app/assets/stylesheets/videos.css.scss */
.grid-video {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 26, /Users/Ros/Projects/project3/secondloop/app/assets/stylesheets/videos.css.scss */
.videos {
  width: 200px;
  height: 140px;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  display: inline-block;
  margin: 0;
  margin-right: -4px;
  padding: 0;
  background-color: #B2D4DC;
  -webkit-box-sizing: border-box;
  border: 0.1em solid #3E6372;
}

/* line 41, /Users/Ros/Projects/project3/secondloop/app/assets/stylesheets/videos.css.scss */
video {
  filter: grayscale(100%) contrast(150%) brightness(100%);
  -webkit-filter: grayscale(100%) contrast(150%) brightness(100%);
  -moz-filter: grayscale(100%) contrast(150%) brightness(100%);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

body {
  /*background-image: url(http://payload266.cargocollective.com/1/14/450171/7627346/20130121-DSC_1200-4_o.jpg);
  background-size: cover;
  background-blend-mode: screen;
  background-color: red;*/
  /*margin: 0;*/

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 20em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
  -webkit-transform: scale(1, 2.3);
  position: absolute;
  top: 1.05em;
  z-index: 1;
  color: #FFF;
}




