<!-- <h1> SECONDS </h1> -->
<!--///// video grid //////-->

<div>
    <label for="title">Title:</label>
    <input type="text" id="title">

    <button id="start-recording">Start Recording</button>
    <button id="stop-recording" disabled>Stop Recording</button>
</div>
<div id="videos-container"></div>


<script id="videos-template" type="text/handlebars-template">
  <div class="videos">
  {{ video }}
  {{ title }}
  </div>
</script>

<script>
  // navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
var mediaConstraints = { audio: !!navigator.mozGetUserMedia, video: true };


document.querySelector('#start-recording').onclick = function() {
    this.disabled = true;
    navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
};

document.querySelector('#stop-recording').onclick = function() {
    this.disabled = true;
    mediaRecorder.stop();
};

var mediaRecorder;

function onMediaSuccess(stream) {
  console.log('media success');
    var video = document.createElement('video');

    // var videoWidth = document.getElementById('video-width').value || 320;
    // var videoHeight = document.getElementById('video-height').value || 240;
    var videoWidth = 200;
    var videoHeight = 140;

    video = mergeProps(video, {
        controls: false,
        width: videoWidth,
        height: videoHeight,
        src: URL.createObjectURL(stream)
    });
    video.play();

    videosContainer.appendChild(video);

    mediaRecorder = new MediaStreamRecorder(stream);
    mediaRecorder.mimeType = 'video/webm'; // this line is mandatory
    mediaRecorder.videoWidth  = videoWidth;
    mediaRecorder.videoHeight = videoHeight;

    var title = document.getElementById('title').value

    POLICY_JSON = { "expiration": "2020-12-01T12:00:00.000Z",
            "conditions": [
            {"bucket": 'secondloop'},
            ["starts-with", "$key", ""],
            {"acl": 'public-read'},
            ["starts-with", "$Content-Type", ""],
            ["content-length-range", 0, 524288000]
            ]
          };


        var secret = 'JqgmHXqD7FbSHdCzp2G8fEbNrMvxQFHIrI1l71bQ';
        var policyBase64 = Base64.encode(JSON.stringify(POLICY_JSON));
        console.log ( policyBase64 )

        var signature = b64_hmac_sha1(secret, policyBase64);
        b64_hmac_sha1(secret, policyBase64);
        console.log( signature);


    mediaRecorder.ondataavailable = function(blob) {
        // var a = document.createElement('a');
        // a.target = '_blank';
        // a.innerHTML = title + ' (Size: ' + bytesToSize(blob.size) + ') Time Length: ' + getTimeLength(timeInterval);

        // a.href = URL.createObjectURL(blob);

        // videosContainer.appendChild(a);

        var newVid = document.createElement('video');
        newVid = mergeProps(newVid, {
          autoplay: true,
          loop: true,
          controls: false,
          width: videoWidth,
          height: videoHeight,
          src: URL.createObjectURL(blob)
        });



        // newVid.play();

        // var source = document.createElement('source');
        // source.src = URL.creatseObjectURL(blob);
        videosContainer.appendChild(newVid);
        // newVid.appendChild(source);

        // videosContainer.appendChild(document.createElement('hr'));
        uploadFile(blob);

        // Try sending the fucking thing to the fucking server
        // var formData = new FormData();
        // formData.append('fname', 'fatties.webm'); // Check this extension?
        // formData.append('data', blob);
        // $.ajax({
        //   type: 'POST',
        //   url: '/videos',
        //   data: formData,
        //   processData: false,
        //   contentType: false
        // }).done(function (done) {
        //   console.log('video blob sent', data);
        // });
    };

    function uploadFile(blob) {

      var file = blob;
      var fd = new FormData();
      console.log(fd);

      var key = "events/" + (new Date).getTime() + '-' + file.name;

      fd.append('key', key);
      fd.append('acl', 'public-read');
      fd.append('Content-Type', file.type);
      fd.append('AWSAccessKeyId', 'AKIAID3AK2SXSPUEFJTA');
      fd.append('policy', POLICY_JSON)
      fd.append('signature',signature);

      fd.append("file",file);
      console.log(fd);
      debugger;

      $.ajax({
          type: 'POST',
          url: 'https://secondloop.s3.amazonaws.com/',
          data: fd,
          processData: false,
          contentType: false,
          dataType: 'jsonp',
          //headers: { "Access-Control-Allow-Origin": "http://seconds.herokuapp.com/" }
        }).done(function (done) {
          console.log('video blob sent', data);
        }).error(function () {
          console.log("AJAX CALLED");
        });
      // var xhr = new XMLHttpRequest();

      // xhr.open('POST', 'https://secondloop.s3.amazonaws.com/', true); //MUST BE LAST LINE BEFORE YOU SEND
      // xhr.setRequestHeader("Access-Control-Allow-Origin", "http://seconds.herokuapp.com/");
      // xhr.setRequestHeader("Content-type", "multipart/form-data");
      // xhr.setRequestHeader("Content-length", fd.length);
      // xhr.setRequestHeader("Connection", "close");

      // xhr.upload.addEventListener("progress", uploadProgress, false);
      // xhr.addEventListener("load", uploadComplete, false);
      // xhr.addEventListener("error", uploadFailed, false);
      // xhr.addEventListener("abort", uploadCanceled, false);


      // xhr.send(fd);
    }

    var timeInterval = 3000;
    if(timeInterval) timeInterval = parseInt(timeInterval);
    else timeInterval = 5 * 1000;

    // get blob after specific time interval
    mediaRecorder.start(timeInterval);


    document.querySelector('#stop-recording').disabled = false;

}

function onMediaError(e) {
    console.error('media error', e);
}

var videosContainer = document.getElementById('videos-container');
var index = 1;

// below function via: http://goo.gl/B3ae8c
function bytesToSize(bytes) {
   var k = 1000;
   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
   if (bytes === 0) return '0 Bytes';
   var i = parseInt(Math.floor(Math.log(bytes) / Math.log(k)),10);
   return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
}

// below function via: http://goo.gl/6QNDcI
function getTimeLength(milliseconds) {
    var data = new Date(milliseconds);
    return data.getUTCHours()+" hours, "+data.getUTCMinutes()+" minutes and "+data.getUTCSeconds()+" second(s)";
}

window.onbeforeunload = function() {
    document.querySelector('#start-recording').disabled = false;
};

</script>
