<h1> SECONDS </h1>
<div class="grid-video">
  <%  @videos.each do |video|%>
    <div class="test-video"> <%= video.title %></div>
  <% end %>
</div>
<!--///// video grid //////-->
<script id="videos-template" type="text/handlebars-template">
  <video class="videos" src="{{ video }}" >
  </video>
</script>

