<h1> SECONDS </h1>
<!--///// video grid //////-->
<%= link_to(image_tag(video.video_url(:video)),videos) %>
<script id="videos-template" type="text/handlebars-template">
  <div class="videos">
  {{ video }}
  {{ title }}
  </div>
</script>

