<!-- <h1> SECONDS </h1> -->
<!--///// video grid //////-->
<header>
  <h2>seconds</h2>
</header>
<!-- <div id="input">
    <label for="title"></label>
    <input type="text" id="title" placeholder="title" autofocus>


</div>
<button id="stop-recording" disabled>Stop Recording</button> -->
<div id="videos-container"><div class="grid-video"></div></div>



<script id="videos-template" type="text/handlebars-template">
<h1>{{ title }}</h1>
  <video class="videos" src="{{ video }}" autoplay loop>
  </video>
</script>

