<!-- <h1> SECONDS </h1> -->
<!--///// video grid //////-->

<div>
    <label for="title">Title:</label>
    <input type="text" id="title">

    <button id="start-recording">Start Recording</button>
    <button id="stop-recording" disabled>Stop Recording</button>
</div>

<div id="videos-container"><div class="grid-video"></div></div>



<script id="videos-template" type="text/handlebars-template">
<h1>{{ title }}</h1>
  <video class="videos" src="{{ video }}" autoplay loop>
  </video>
</script>

