<!-- <h1> SECONDS </h1> -->
<!--///// video grid //////-->
<header>
  <h2>seconds</h2>
</header>
<!-- <div id="input">
    <label for="title"></label>
    <input type="text" id="title" placeholder="title" autofocus>


</div> -->
<a href= <%=new_video_path%> id="record" >
<ul>
  <li> RECORD </li>
</ul>
</a>
<!-- <a id="record" disabled>Stop Recording</button> -->
<div class="videos-container"><div class="grid-video"></div></div>

<div class="sign-in"></div>

<script id="videos-template" type="text/handlebars-template">
<h1>{{ title }}</h1>
  <video class="videos" src="{{ video }}" autoplay loop>
  </video>
</script>




