<div id="input" >
    <input type="text" id="title" class="full-view-input" placeholder="TITLE" autofocus>
</div>
<a href= <%=new_video_path%> class="record" >
<ul>
  <li> RECORD </li>
</ul>
</a>
<div class="record instruct">
  <p>Give your video a title and press enter to start your 3 second video and wait...</p>
</div>
<!-- <button id="stop-recording" disabled></button> -->
<div class=" grid-video videos-container full-view-container "></div>
<div class="countdown"></div>