<div id="input" >
    <input type="text" id="title" class="full-view-input" placeholder="TITLE" autofocus>
</div>
<!-- <button id="stop-recording" disabled></button> -->
<div class="full-view-container videos-container "></div>