<div id="input" >
    <label for="title"></label>
    <input type="text" id="title" class="full-view-input" placeholder="TITLE" autofocus>
</div>

<div id="videos-container" class="full-view-container"></div>