// Place all the styles related to the VIDEOS controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight:100;
  margin:0;
}

button {
  font-family: inherit;
  font-weight: 100;
  padding:10px;
  background-color: #3C5394;
  border:none;
  border-bottom: 4px solid #12182B;
  color:#FFF;
}

.grid-video {
  width:100%;
  margin:0 auto;
  text-align:center;
  display:inline;
}

// .videos {
//   width:200px;
//   height:140px;
//   text-align:center;
//   font-family:'Helvetica Neue', sans-serif;
//   font-weight:100;
//   display:inline-block;
//   margin:0;
//   margin-right: -18px;
//   margin-top: -4px;
//   padding:0;
//   // background-color: #B2D4DC;
//   -webkit-box-sizing:border-box;
//   // border: 0.1em solid #3E6372;
// }

video {
  filter: grayscale(100%) contrast(140%) brightness(120%);
  -webkit-filter: grayscale(100%) contrast(140%) brightness(120%);
  -moz-filter: grayscale(100%) contrast(140%) brightness(120%);
  display:inline-block;
  width:200px;
  height:140px;
  text-align:center;
  font-family:'Helvetica Neue', sans-serif;
  font-weight:100;
  display:inline-block;
  margin:0;
  margin-right: -12px;
  margin-top: 2px;
  padding:0;
  // background-color: #B2D4DC;
  -webkit-box-sizing:border-box;
  // border: 0.1em solid #3E6372;
}

.videos-container {
  margin-top: 4px;
}



#title {
  position: absolute;
  height: 100vh;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 18em;
  text-align: center;
  color: #F20233;
  background: rgba(0, 0, 0, 0);
  border: none;
  padding-bottom: 5px;
  z-index: 10;
  padding-right: 10px;
  opacity:0.5;
  text-transform:uppercase;
}

::-webkit-input-placeholder {
  color: #F20233 !important;
  font-weight: 400;
}

input:-webkit-autofill {
  background-color: #222222 !important;
  color: #FFF !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

input {
  outline: none;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

#input {
  width: 87.2%;
  display: inline-block;
  margin-left: -4px;
  box-sizing: border-box;
}

#full-view {
  width: 100%;
  height: 100%;

}

.full-view-container {
  overflow-y: hidden;
  margin-top: -20px;

}

.record {
  z-index: 20;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #F20233;
  text-decoration:none;
  font-weight:300;
  li:before {
    content:'\00b7';
    font-size:100px;
    line-height:0;
    vertical-align:-26px;
  }
  li {
    list-style:none;
  }
}

.sign-in, .sign-up {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  padding: 33px;
  padding-top:80px;
  padding-bottom:90px;
  display:none;
}

.signin-button, .signup-button {
  z-index: 1000;
  position: fixed;
  top: 30px;
  left: 20px;
  padding: 10px;
  cursor:pointer;
  font-weight:300;
  color: #F20233;
  background:#FFF;
}

.signup-button {
  left: 100px;
}

.close {
  padding:10px;
  cursor:pointer;
  position:absolute;
  right:10px;
  bottom:10px;
  color: #F20233;
}

.submit {
  border:1px solid #F20233;
  background:#FFF;
  width:125px;
  padding:5px;
  font-family:inherit;
  font-size:inherit;
  font-weight:100;
  margin-top:10px;
}

.title {
  position:fixed;
  top:0;
  min-width:100%;
  white-space: nowrap;
  padding-top:5em;

  // -webkit-animation: SCROLL 5s infinite; /* Safari 4+ */
  // -moz-animation:    SCROLL 5s infinite; /* Fx 5+ */
  // -o-animation:      SCROLL 5s infinite; /* Opera 12+ */
  // animation:         SCROLL 5s infinite;
}

// @-webkit-keyframes SCROLL {
//   0%   { left: 0; }
//   100% {  left: -}
// }
// @-moz-keyframes SCROLL {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-o-keyframes SCROLL {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @keyframes SCROLL {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 18em;
  text-align: center;
  z-index: 1;
  color: #F20233;
  opacity:0.5;
  text-transform:uppercase;
  display:inline;
  white-space: nowrap;
  padding:0 50px;
  display:hidden;
}

.instruct {
  top: 40px;
  width:200px;
  text-align:right;
}


