// Place all the styles related to the VIDEOS controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.grid-video {
  width:100%;
  margin:0 auto;
  text-align:center;
}

.videos {
  width:200px;
  height:140px;
  text-align:center;
  font-family:'Helvetica Neue', sans-serif;
  font-weight:100;
  display:inline-block;
  margin:0;
  margin-right:-4px;
  padding:0;
  background-color: #B2D4DC;
  -webkit-box-sizing:border-box;
  border: 0.1em solid #3E6372;
}
