// Place all the styles related to the VIDEOS controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight:100;
}

button {
  font-family: inherit;
  font-weight: 100;
  padding:10px;
  background-color: #3C5394;
  border:none;
  border-bottom: 4px solid #12182B;
  color:#FFF;
}

.grid-video {
  width:100%;
  margin:0 auto;
  text-align:center;
}

.videos {
  width:200px;
  height:140px;
  text-align:center;
  font-family:'Helvetica Neue', sans-serif;
  font-weight:100;
  display:inline-block;
  margin:0;
  margin-right:-4px;
  padding:0;
  // background-color: #B2D4DC;
  -webkit-box-sizing:border-box;
  // border: 0.1em solid #3E6372;
}

video {
  filter: grayscale(100%) contrast(140%) brightness(120%);
  -webkit-filter: grayscale(100%) contrast(140%) brightness(120%);
  -moz-filter: grayscale(100%) contrast(140%) brightness(120%);
}

#videos-container {

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 15em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
  -webkit-transform: scale(1, 2.3);
  position: absolute;
  top: 1.05em;
  z-index: 1;
  color: blue;
  opacity:0.1;
}
